<h1 mat-dialog-title>Změna hesla</h1>
<form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
  <mat-form-field fxLayout="column">
    <input matInput type="password" name="oldPassword" [type]="hide ? 'password' : 'text'"  formControlName="oldPassword"/>
    <mat-label><b>Stávající heslo</b></mat-label>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="oldPassword.invalid">{{fieldRequired}}</mat-error>
  </mat-form-field>
  <mat-form-field fxLayout="column">
    <input matInput type="password" name="newPassword" [type]="hide ? 'password' : 'text'" formControlName="newPassword"/>
    <mat-label><b>Nové heslo</b></mat-label>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="newPassword.invalid">{{fieldRequired}}</mat-error>
  </mat-form-field>
  <mat-form-field fxLayout="column">
    <input matInput type="password" name="confirmNewPassword" [type]="hide ? 'password' : 'text'" formControlName="confirmNewPassword"/>
    <mat-label><b>Nové heslo znovu</b></mat-label>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="confirmNewPassword.hasError('mustMatch')">{{passwordMatch}}</mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" [disabled]="!passwordChangeForm.valid">Změnit heslo</button>
    <button mat-raised-button type="button" color="warn" (click)="onNoClick()">Zrušit</button>
  </div>
 </form>

