<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center" *ngIf="loggedUser">
  <button mat-button routerLink="/" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="'is-active'">
    <mat-icon>home</mat-icon>
  </button>
  <span fxFlex></span>
  <button mat-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_box</mat-icon>{{ userNameWithTitle }}
  </button>
  <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="changePassword()"><mat-icon>perm_contact_calendar</mat-icon> Změnit heslo</button>
    <button mat-menu-item (click)="logoutUser()"><mat-icon>exit_to_app</mat-icon> Odhlásit</button>
  </mat-menu>
</mat-toolbar>
