.wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 95%;
  padding: 20px 10px 15px 10px;
}

table {
  width: 100%;
}

.mat-mdc-row:nth-child(odd) {
  background-color:#f2f2f2;
}

.mat-mdc-header-cell {
  font-weight: bold;
}

.mat-column-time {
  min-width: 40px;
  max-width: 40px;
}

.mat-column-shiftUp {
  max-width: 40px;
}

.mat-column-shiftDown {
  min-width: 10px;
  max-width: 40px;
}
