<div class="bg-img">
  <div class="centered-wrapper">
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="center center">
        <mat-card-title><b>REGISTRACE</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-horizontal-stepper linear>
          <mat-step [stepControl]="loginForm">
            <form [formGroup]="loginForm">
              <ng-template matStepLabel>Přihlašovací údaje</ng-template>
              <mat-form-field fxLayout="column">
                <mat-label>Email</mat-label>
                <input matInput maxlength="255" formControlName="email" autocomplete="off" (change)="checkAccountAvailability()"/>
                <mat-error *ngIf="email.errors?.unavailable">{{emailTaken}}</mat-error>
              </mat-form-field>
              <mat-form-field fxLayout="column">
                <mat-label>Email pro kontrolu</mat-label>
                <input matInput maxlength="255" formControlName="emailConfirm" autocomplete="off"/>
                <mat-error *ngIf="emailConfirm.hasError('mustMatch')">{{emailMatch}}</mat-error>
              </mat-form-field>
              <mat-form-field fxLayout="column">
                <mat-label>Heslo</mat-label>
                <input matInput maxlength="255" type="password" formControlName="password" autocomplete="off"/>
              </mat-form-field>
              <mat-form-field fxLayout="column">
                <mat-label>Heslo pro kontrolu</mat-label>
                <input matInput maxlength="255" type="password" formControlName="passwordConfirm" autocomplete="off"/>
                <mat-error *ngIf="passwordConfirm.hasError('mustMatch')">{{passwordMatch}}</mat-error>
              </mat-form-field>
              <div fxLayout="row" fxLayoutGap="15px">
                <button type="button" mat-raised-button matStepperNext color="primary" [disabled]="!loginForm.valid">Další</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Zrušit</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="personalForm">
            <form [formGroup]="personalForm">
              <ng-template matStepLabel>Osobní údaje</ng-template>
              <mat-form-field fxLayout="column">
                <mat-label>Jméno</mat-label>
                <input matInput maxlength="24" autocomplete="off" formControlName="firstName"/>
              </mat-form-field>
              <mat-form-field fxLayout="column">
                <input matInput maxlength="35" autocomplete="off" formControlName="lastName"/>
                <mat-label>Přijmení</mat-label>
              </mat-form-field>
              <mat-form-field fxLayout="column">
                <mat-label>Rodné číslo</mat-label>
                <input matInput appNumberOnly [onlyNumberLength]="10" autocomplete="off" formControlName="personalIdentificationNumber"/>
              </mat-form-field>
              <mat-form-field fxLayout="column">
                <mat-label>Číslo pojištěnce</mat-label>
                <input matInput appNumberOnly [onlyNumberLength]="10" autocomplete="off" formControlName="insuranceNumber"/>
              </mat-form-field>
              <mat-form-field fxLayout="column">
                <mat-label>Telefon</mat-label>
                <input matInput maxlength="15" autocomplete="off" formControlName="phone"/>
              </mat-form-field>
              <div fxLayout="row" fxLayoutGap="15px">
                <button *ngIf="!submitted" type="button" mat-raised-button matStepperNext color="primary" (click)="onSubmit()" [disabled]="!personalForm.valid">Zaregistrovat</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Zrušit</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="activationForm">
            <form [formGroup]="activationForm">
              <ng-template matStepLabel>Aktivace</ng-template>
              <mat-form-field *ngIf="validationResult?.result !== 0" fxLayout="column">
                <mat-label>Aktivační kód</mat-label>
                <input matInput maxlength="10" autocomplete="off" formControlName="code"/>
              </mat-form-field>
              <div *ngIf="validationResult?.result === 0" fxLayout="column">
                <p [innerHTML]="validationResult.data"></p>
              </div>
              <div fxLayout="row" fxLayoutGap="15px">
                <button *ngIf="validationResult?.result !== 0" type="button" mat-raised-button color="primary" (click)="onActivate()" [disabled]="!activationForm.valid">Aktivovat</button>
                <button *ngIf="validationResult?.result !== 0" type="button" mat-raised-button color="warn" (click)="onCancel()">Zrušit</button>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
