<div class="bg-img">
  <div class="centered-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-header fxLayout="row" fxLayoutAlign="center center">
          <mat-card-title><b>PORTÁL PACIENTA</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field fxLayout="column">
            <input matInput autocomplete="off" formControlName="email"/>
            <mat-label>Email</mat-label>
          </mat-form-field>
          <mat-form-field fxLayout="column">
            <input matInput type="password" autocomplete="off" formControlName="password"/>
            <mat-label>Heslo</mat-label>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
          <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid" *ngIf="!loading">
            Přihlásit
          </button>
          <button type="button" mat-raised-button color="primary" *ngIf="loading" [style.width.px]=130>
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-spinner diameter="35"></mat-spinner>
            </div>
          </button>
          <button type="button" mat-raised-button color="accent" (click)="registrationNavigation()">
            Zaregistrovat
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
