.wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 95%;
  padding: 20px 10px 15px 10px;
}

table {
  width: 100%;
}

.mat-row {
  height: 80px;
}

.mat-row:nth-child(odd) {
  background-color:#f2f2f2;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-column-date {
  min-width: 40px;
}
