<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>
<mat-tab-group mat-align-tabs="left" [color]="'accent'">
  <mat-tab label="Plán péče">
    <form [formGroup]="searchForm">
      <div class="wrapper" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <button *ngIf="isDayBefore" mat-mini-fab matTooltip="O den zpět" type="button" color="primary" (click)="addDays(-1)"><mat-icon class="mat-18">fast_rewind</mat-icon></button>
        <mat-form-field [style.width.px]=160>
          <input matInput placeholder="Datum" formControlName="dateFrom" (dateChange)="onChange()" [matDatepicker]="pickerDateFrom"/>
          <mat-datepicker-toggle matSuffix [for]="pickerDateFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerDateFrom></mat-datepicker>
          <mat-error *ngIf="dateFrom.hasError('required')">{{fieldRequired}}</mat-error>
        </mat-form-field>
        <button mat-mini-fab matTooltip="Na DNES" type="button" color="primary" (click)="addDays(0)">DNES</button>
        <button mat-mini-fab matTooltip="O den vpřed" type="button" color="primary" (click)="addDays(1)"><mat-icon class="mat-18">fast_forward</mat-icon></button>
      </div>
    </form>
    <mat-divider></mat-divider>

    <table *ngIf="this.dataSource.data?.length > 0" [dataSource]="dataSource" mat-table class="full-width-table" matSort aria-label="Elements">
      <ng-container *ngIf="!isDesktop" matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Čas</th>
        <td mat-cell *matCellDef="let row">
          <div [style.color]="row.statim ? '#ff0000' : '#000000'">
            {{ row.timeFrom | timeFormat }}<br>{{ row.timeTo | timeFormat }}
          </div>
        </td>
      </ng-container>
      <ng-container *ngIf="!isDesktop" matColumnDef="examination">
        <th mat-header-cell *matHeaderCellDef>Vyšetření / procedura</th>
        <td mat-cell *matCellDef="let row">
          <div>
            <b>{{ row.examinationName }}</b><br>
            <span style="font-size: 11px">{{ row.doctorName }}</span><br>
            Budova: {{ row.buildingName }}, Patro: {{ row.roomFloor }}, Dveře: {{ row.roomNumber }}
          </div>
        </td>
      </ng-container>
      <ng-container *ngIf="isDesktop" matColumnDef="timeFrom">
        <th mat-header-cell *matHeaderCellDef>Čas od</th>
        <td mat-cell *matCellDef="let row">
          <div>{{ row.timeFrom | timeFormat}}</div>
        </td>
      </ng-container>
      <ng-container *ngIf="isDesktop" matColumnDef="timeTo">
        <th mat-header-cell *matHeaderCellDef>Čas do</th>
        <td mat-cell *matCellDef="let row">
          <div>{{ row.timeTo | timeFormat}}</div>
        </td>
      </ng-container>
      <ng-container *ngIf="isDesktop" matColumnDef="examinationName">
        <th mat-header-cell *matHeaderCellDef>Vyšetření / procedura</th>
        <td mat-cell *matCellDef="let row">
          <div>{{ row.examinationName }}</div>
        </td>
      </ng-container>
      <ng-container *ngIf="isDesktop" matColumnDef="doctorName">
        <th mat-header-cell *matHeaderCellDef>Lékař</th>
        <td mat-cell *matCellDef="let row">
          <div>{{ row.doctorName }}</div>
        </td>
      </ng-container>
      <ng-container *ngIf="isDesktop" matColumnDef="locationName">
        <th mat-header-cell *matHeaderCellDef>Místo</th>
        <td mat-cell *matCellDef="let row">
          <div>{{ row.locationName }}</div>
        </td>
      </ng-container>
      <ng-container *ngIf="isDesktop" matColumnDef="buildingName">
        <th mat-header-cell *matHeaderCellDef>Budova</th>
        <td mat-cell *matCellDef="let row">
          <div>{{ row.buildingName }}</div>
        </td>
      </ng-container>
      <ng-container *ngIf="isDesktop" matColumnDef="roomFloor">
        <th mat-header-cell *matHeaderCellDef>Patro</th>
        <td mat-cell *matCellDef="let row">
          <div>{{ row.roomFloor }}</div>
        </td>
      </ng-container>
      <ng-container *ngIf="isDesktop" matColumnDef="roomNumber">
        <th mat-header-cell *matHeaderCellDef>Dveře</th>
        <td mat-cell *matCellDef="let row">
          <div>{{ row.roomNumber }}</div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
    </table>
    <mat-paginator *ngIf="this.dataSource.data?.length > pageSize" [pageSizeOptions]="[pageSize]" showFirstLastButtons></mat-paginator>
  </mat-tab>
  <mat-tab label="Informace">
    <div class="wrapper" *ngFor="let info of carePlanInfo" [innerHTML]="info.info"></div>
  </mat-tab>
</mat-tab-group>
