<div class="card-wrapper">
  <h2>Uživatel je přihlášen</h2>
</div>
<footer>
  <div fxLayout="row" fxLayoutGap="15px">
    <div fxFlex="0 0 33%" style="padding-left: 10px;">
      <p><b>PORTÁL PACIENTA</b></p>
    </div>
    <div fxFlex="0 0 32%" style="text-align: center">
      <p>AKESO Holding a.s.</p>
    </div>
    <div fxFlex="0 0 32%" style="text-align: right">
      <button mat-mini-fab matTooltip="Aktualizovat" color="accent"><mat-icon>refresh</mat-icon> </button>
    </div>
  </div>
</footer>
