.card {
  width: 500px;
  margin-bottom: 15px;
}

.card-wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 95%;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
  min-height: calc(100vh - 116px);
}

footer {
  background-color: #ddd;
  text-align: left;
  height: 50px;
}
